extends layout

block content
  h1= title
  p Welcome to #{title}
  h4 Save Tests!
  p
    a(href="/December%2015,%202015") Test Me with December 15, 2015!
  p
    a(href="/1450137600") Test Me with 1450137600!
  h4 Fail Tests!
  p
    a(href="/Xecember%2015,%202015") Test Me with Xecember 15, 2015!
  p
    a(href="/1234foo") Test Me with 1234foo!
    
  